
<!--<nav class="navbarr navbar-expand-lg navbar-light bg-light">
  <a class="navbar-bran" href="#">MediPharm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">-->
      <!-- Changed justify-content-end to mr-auto -->
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">-->
        <!--<a class="nav-link" routerLink="/product"> Products</a>-->
        <!--<a routerLink="/product" routerLinkActive="active"><b>Products</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
    </ul>
  </div>
</nav>-->


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Hello <h3>{{fullName}}</h3></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a style="background: red;
          color: #fff;
          border-radius: 4px;
          margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="role === 'Admin'">
      <nav class="navbarr navbar-expand-lg navbar-light bg-light">
        <a class="navbar-bran" href="#">MediPharm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product"> Products</a>
              <a routerLink="/product" routerLinkActive="active"><b>Products</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cart">Cart</a>
            </li>
          </ul>
        </div>
      </nav>

    </ng-container>

    <ng-container *ngIf="role === 'User'">
      <nav class="navbarr navbar-expand-lg navbar-light bg-light">
        <a class="navbar-bran" href="#">MediPharm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <!-- Changed justify-content-end to mr-auto -->
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" routerLink="/product"> Products</a>-->
              <a routerLink="/product" routerLinkActive="active"><b>Products</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cart">Cart</a>
            </li>
          </ul>
        </div>
      </nav>

    </ng-container>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h4>Company</h4>
              <ul>
                <li>About Us</li>
                <li>Careers</li>
                <li>Blog</li>
                <li>Partner with PharmEasy</li>
                <li>Sell at PharmEasy</li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Our Services</h4>
              <ul>
                <li>Order Medicine</li>
                <li>Healthcare Products</li>
                <!-- Add other services as needed -->
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Featured Categories</h4>
              <ul>
                <li>Top Products</li>
                <li>Elderly Care</li>
                <!-- Add other categories as needed -->
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Mega Clearance Sale</h4>
              <ul>
                <li>Trending Products</li>
                <li>Mattresses</li>
                <!-- Add other sale items as needed -->
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h4>Health Condition</h4>
              <ul>
                <li>Diabetic Care</li>
                <!-- Add other health conditions as needed -->
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Need Help</h4>
              <ul>
                <li>Browse All Medicines</li>
                <li>Browse All Molecules</li>
                <!-- Add other help options as needed -->
              </ul>
            </div>
            <div class="col-md-3">
              <h4>FAQs</h4>
              <ul>
                <li>Browse All Cities</li>
                <li>Browse All Areas</li>
                <li>Browse All Stores</li>
                <!-- Add other FAQ options as needed -->
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Policy Info</h4>
              <ul>
                <li>Editorial Policy</li>
                <li>Privacy Policy</li>
                <li>Vulnerability Disclosure Policy</li>
                <li>Terms and Conditions</li>
                <li>Customer Support Policy</li>
                <li>Return Policy</li>
                <!-- Add other policies as needed -->
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <footer style="background-color: #63C6C6; color: #fff; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        &copy; 2023 MediPharm. All Rights Reserved.
      </footer>

  </div>
</div>



