<h2>Your Cart</h2>

<div *ngIf="cartItems.length > 0; else emptyCart">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let item of cartItems">
      <div class="card h-100 border-0 shadow" style="background-color: #f8f9fa;">
        <div class="card-body d-flex flex-column">
          <img [src]="item.productUrl" alt="Product Image" class="card-img-top" />
          <div class="mt-auto">
            <h5 class="card-title text-center">{{ item.productName }}</h5>
            <p class="card-text text-center">{{ item.productDescription }}</p>
            <p class="card-text text-center"><b>Rs.{{ item.productPrice }}/-</b></p>
            <div class="form-group text-center">
              <label for="quantity">Quantity:</label>
              <input type="number" class="form-control" id="quantity" [(ngModel)]="item.quantity" min="1">
            </div><br />
            <div class="text-center">
              <p class="card-text"><b>Total Rs.{{ item.productPrice * (item.quantity || 1) }}/-</b></p>
            </div>

            <button class="btn btn-outline-danger" (click)="removeFromCart(item)">Remove From Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #emptyCart>
  <div class="text-center">
    <p>Your cart is empty.</p>
  </div>
</ng-template>


